<html lang="en">

<head>
    <title>About</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Alex Viola. It uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="/img/kimetsu.jpg" alt="">
    </div>
    {{>footer}}
</body>

</html>